</main>

<script type="text/javascript" src="js/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="js/jquery-migrate-3.0.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap.bundle.min.js"></script>

<!--<script type="text/javascript" src="js/jquery.nice-select.min.js"></script>-->

<!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBfGzw69ReFX99dnaWZUjKI8e3OvCc3wow&amp;v=3.exp&amp;ver=3"></script>-->
<!--<script type="text/javascript" src="js/google-maps-init.js"></script>-->

<script src="js/main.min.js"></script>
</body>
</html>